{% extends '_partials/base.html' %}
{% load static %}

{% block content %}
<section class="reset-overall-container">
    <div class="reset-container">
        <div class="reset-flex-container">
            <div class="reset-left-container">
                <img src="{% static 'media/forgot-password.png' %}" alt="user login image" class="reset-user-login-image" />
            </div>
            <div class="reset-right-container">
                <div>
                    <div class="reset-logo-container">
                        <div class="reset-logo-content">
                            <img src="{% static 'media/xeno-logo.png' %}" alt="xeno logo" class="reset-xeno-image" />
                            <span><em class="reset-logo-first-text">Xeno</em></span>
                        </div>
                        <div>
                            <p class="reset-logo-text">Coders</p>
                        </div>
                    </div>
                    <div class="reset-head-container">
                        <h1 class="reset-forgot-head">Forgot Password?</h1>
                    </div>
                    <div class="reset-subhead-content">
                        <p class="reset-subhead-text">
                            Don't worry, it happens, please enter the email address
                            associated with your account
                        </p>
                    </div>
                    <form method="post" action={% url 'request-password' %} class="reset-input-container">
                        {% csrf_token %}
                        <input type="email" name="email" value="{{data.email}}" placeholder="Enter your associated email address" class="reset-input-field">
                        <input type="submit" value="Submit" class="reset-input-button">
                    </form>
                    <span class="reset-login">Do you want to Login instead?  <a href="{% url 'login' %}">Login</a></span>
                    {% include '_partials/messages.html' %}
                </div>
            </div>
        </div>
    </div>
</section>





    
    <!-- {% include '_partials/messages.html' %}

    <form method="post" action={% url 'request-password' %}>
        {% csrf_token %}
        <input type="email" name="email" value="{{data.email}}" placeholder="your email"/>
        <input type="submit" value="Submit"/>
    </form>
    <span href="">Do you want to Login instead? <a href="{% url 'login' %}">Login</a></span> -->

    {% endblock content %}
