{% extends '_partials/base.html' %}
{% load static %}

{% block content %}

<section class="reset2-overall-container">
    <div>
        <img src="{% static 'media/reset-outlay.png' %}" alt="Outlay image" class="reset2-outlay-image">
    </div>
    <div class="reset2-container">
        <div class="reset2-flex-container">
            <div class="reset2-left-container">
                <img src="{% static 'media/reset-password-hero.png' %}" alt="reset password image" class="reset2-user-login-image">
            </div>
            <div class="reset2-right-container">
                <div>
                    <div class="reset2-logo-container">
                        <div class="reset2-logo-content">
                            <img src="{% static 'media/xeno-logo.png' %}" alt="xeno logo" class="reset2-xeno-image"/>
                            <span><em class="reset2-logo-first-text">Xeno</em></span>
                        </div>
                        <div>
                            <p class="reset2-logo-text">Coders</p>
                        </div>
                    </div>
                    <div class="reset2-head-container">
                        <h1 class="reset2-head">Reset Password</h1>
                    </div>
                    <div class="reset2-subhead-content">
                        <p class="reset2-subhead-text"> Enter a new password and confirm new password of your choice</p>
                    </div>
                    <form method="post" action={% url 'reset-user-password' uidb64 token %} class="reset2-input-container">
                        {% include '_partials/messages.html' %}
                        {% csrf_token %}
                        <input type="password" name="password" placeholder="Enter new password" class="reset2-input-field">
                        <input type="password" name="password2" id="" placeholder="Confirm new password" class="reset2-input-field">
                        <input type="submit" value="Submit" class="reset2-input-button">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>










    <!-- <h1>Set New Password</h1>
    {% include '_partials/messages.html' %}

    <form method="post" action={% url 'reset-user-password' uidb64 token %}>
        {% csrf_token %}
        <div class="password"><input type="password" name="password" placeholder="password"/><i class="fa-solid fa-eye"></i></div>
        <div class="password"><input type="password" name="password2" placeholder="confirm password"/><i class="fa-solid fa-eye"></i></div>
        <input type="submit" value="Submit"/>
    </form>
    <span href="">Have an account? <a href="{% url 'login' %}">Login</a></span> -->

{% endblock content %}