{% extends '_partials/base.html' %}
{% load static %}

{% block content %}
	<section class="about-us">
		<div class="about-us-container">
			<div class="about-us-flex-container">
				<div class="about-us-hero-left">
					<h1 class="about-us-hero-head">Join the world's largest blog community</h1>
				</div>
				<div class="about-us-hero-right">
					<img src="{% static 'media/aboutUs-hero.png' %}" alt="This is the first image on About Us page" class="about-us-hero-image" />
				</div>
			</div>
		</div>
	</section>

	<section class="about-us-section-container">
		<div class="about-us-container">
			<div class="about-us-layout-2-flex">
				<div class="about-us-layout-2-content">
					<div class="about-us-layout-2-heading">
						<h2 class="about-us-layout-2-title red">1234</h2>
					</div>

					<div class="about-us-layout-2-text">
						<p class="about-us-layout-2-subtitle"> New subscribers <br /> this month</p>
					</div>
				</div>
				<div class="about-us-layout-2-content">
					<div class="about-us-layout-2-heading">
						<h2 class="about-us-layout-2-title blue">342</h2>
					</div>
	
					<div class="about-us-layout-2-text">
						<p class="about-us-layout-2-subtitle">Articles released</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="about-us-section-container">
		<div class="about-us-container">
			<div class="about-us-layout-3-container">
				<div class="about-us-layout-3-heading">
					<h3 class="about-us-layout-3-title">About Xenocoders</h3>
				</div>
				<div class="about-us-layout-3-text">
					<p class="about-us-layout-3-subtext">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc amet
						sagittis, duis venenatis dui. Arcu turpis nisi adipiscing tellus
						varius massa. Leo ornare sed accumsan neque mattis. Ullamcorper
						pulvinar interdum euismod netus ut nulla condimentum elit. Leo nec
						massa tortor, quisque quam lorem. Nulla facilisis urna, at et,
						nulla urna, quis. Dui quam leo lorem mi. Donec elementum faucibus
						velit varius aliquam, quam. Ipsum blandit nunc nulla tortor amet
						vivamus. Iaculis mattis quis laoreet dignissim fringilla. Posuere
						laoreet dui eu tellus et hendrerit. Eget id suscipit libero orci
						nisl, lorem mauris donec. Ac donec id sem cursus cursus in eu sed.
						Porttitor aenean tortor, egestas quam risus lorem consectetur
						pellentesque vitae. Augue lectus amet quis mi mi netus vulputate
						elit. Netus dictum luctus morbi vitae scelerisque cursus.
						Condimentum purus egestas quis platea cursus neque, tempus
						pellentesque. In cras dui massa a, diam. Urna natoque porta justo
						sed pharetra platea. Eleifend sit consectetur mauris diam a
						euismod vulputate etiam nulla. Faucibus sodales posuere tristique
						turpis. Est venenatis vestibulum elit mauris malesuada. Convallis
						lacus integer ultrices et, enim nunc felis. Ligula viverra
						facilisi ullamcorper consequat neque. Gravida et amet, commodo
						magna nulla id. Cras ultrices eu faucibus purus in. Cras morbi
						pellentesque ultrices lectus ut amet, leo posuere. Nec venenatis
						non, sapien ac.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="about-us-about-us-">
		<div class="about-us-container">
			<div class="about-us-layout-4-container">
				<div class="about-us-layout-4-left">
					<h2 class="about-us-layout-4-text">
						Meet our team of <span><em class="about-us-layout-4-inline">creators, designers, developers</em></span>
						and world class <span><em class="about-us-layout-4-inline"> problem solvers</em></span>
					</h2>
				</div>
				<div class="about-us-layout-4-right">
					<img
						src="{% static 'media/round-ellipse.png' %}"
						alt="This is a round ellipses"
						class="about-us-round-ellipses"
					/>
				</div>
			</div>
		</div>
	</section>

	<section class="about-us-about-us-">
		<div class="about-us-container">
			<div class="about-us-layout-5-flex">
				<div class="about-us-each-5-flex">
					<div class="about-us-each-5-content">
						<div class="about-us-layout-5-image">
							<img src="{% static 'media/picture-1.png' %}" alt="first picture" class="about-us-each-image" />
						</div>
						<div class="about-us-layout-5-name">
							<h3 class="about-us-each-name">Orlando Giggs</h3>
						</div>
						<div class="about-us-layout-5-title">
							<p class="about-us-each-title">Head of enginnering</p>
						</div>
					</div>
					<div class="about-us-each-5-content">
						<div class="about-us-layout-5-image">
							<img src="{% static 'media/picture-2.png' %}" alt="second picture" class="about-us-each-image" />
						</div>
						<div class="about-us-layout-5-name">
							<h3 class="about-us-each-name">Matthew Webb</h3>
						</div>
						<div class="about-us-layout-5-title">
							<p class="about-us-each-title">Head of design</p>
						</div>
					</div>
					<div class="about-us-each-5-content">
						<div class="about-us-layout-5-image">
							<img src="{% static 'media/picture-3.png' %}" alt="Third picture" class="about-us-each-image" />
						</div>
						<div class="about-us-layout-5-name">
							<h3 class="about-us-each-name">Jacob Jones</h3>
						</div>
						<div class="about-us-layout-5-title">
							<p class="about-us-each-title">Graphics designer</p>
						</div>
					</div>
				</div>
				<div class="about-us-each-5-flex about-us-bottom-flex">
					<div class="about-us-each-5-content">
						<div class="about-us-layout-5-image">
							<img src="{% static 'media/picture-4.png' %}" alt="fourth picture" class="about-us-each-image" />
						</div>
						<div class="about-us-layout-5-name">
							<h3 class="about-us-each-name">Jane Cooper</h3>
						</div>
						<div class="about-us-layout-5-title">
							<p class="about-us-each-title">Head of sales</p>
						</div>
					</div>
					<div class="about-us-each-5-content">
						<div class="about-us-layout-5-image">
							<img src="{% static 'media/picture-5.png' %}" alt="fifth picture" class="about-us-each-image" />
						</div>
						<div class="about-us-layout-5-name">
							<h3 class="about-us-each-name">Cameron Williamson</h3>
						</div>
						<div class="about-us-layout-5-title">
							<p class="about-us-each-title">Staff writer</p>
						</div>
					</div>
					<div class="about-us-each-5-content">
						<div class="about-us-layout-5-image">
							<img src="{% static 'media/picture-6.png' %}" alt="sixth picture" class="about-us-each-image" />
						</div>
						<div class="about-us-layout-5-name">
							<h3 class="about-us-each-name">Guy Hawkins</h3>
						</div>
						<div class="about-us-layout-5-title">
							<p class="about-us-each-title">Data Analyst</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}