
        <section>
            <div class="landing-container">
                <div class="landing-heading-flex landing-topmost-section">
                    <div>
                        <p class="landing-topmost-text">Latest articles</p>
                    </div>
                    <div class="landing-flex-right">
                        <input type="search" name="Search" id="" class="landing-search-action" placeholder="Search">
                    </div>
                </div>
            </div>
        </section>

        <div class="landing-container">
            <hr class="landing-line-divider">
        </div>

		<section class="landing-section-container landing-layout-one">
			<div class="landing-container">
                <div class="landing-section-content">
                    <div class="landing-left_column landing-each_column hero-col">
                        <div>
                            <h2 class="landing-column-title">Why Adobe is buying figma for $20B:Investors are angry</h2>
                        </div>
                        <div class="landing-profile-flex">
                            <div class="landing-profile-pic">
                                <img
                                    src="./assets/profile_head.png"
                                    alt="first profile head of the page"
                                />
                            </div>
                            <div>
                                <p class="landing-profile-text">Emmanuel Chike</p>
                            </div>
                        </div>
                        <div class="landing-hero-content">
                            <p class="landing-hero-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. At in sit
                                aliquam commodo scelerisque mauris nec, amet quam. Ultrices netus
                                ac, varius scelerisque amet ac sed lacus. Tristique quis.
                            </p>
                        </div>
                        <div class="landing-timeline-content">
                            <div class="landing-timeline-flex">
                                <div class="landing-each_timeline">
                                    <img src="./assets/time_icon.png" alt="time icon" />
                                    <span class="landing-each_time">4 min</span>
                                </div>
                                <div class="landing-each_timeline">
                                    <img src="./assets/calendar_icon.png" alt="calendar icon" />
                                    <span class="landing-each_time">Sep 20, 2022</span>
                                </div>
                                <div class="landing-each_timeline">
                                    <img src="./assets/eye_icon.png" alt="eye icon" />
                                    <span class="landing-each_time">2983</span>
                                </div>
                            </div>
                            <div>
                                <button class="landing-readmore-btn">Read more</button>
                                <span
                                    ><img src="./assets/readmore_arrow.png" alt="arrow down"
                                /></span>
                            </div>
                        </div>
                    </div>
                    <div class="landing-right_column landing-each_column">
                        <div class="landing-page-img">
                            <img src="./assets/hero_img.png" alt="This is the hero image" class="landing-page-image" />
                        </div>
                    </div>
                </div>
			</div>
		</section>

		<section class="landing-section-container landing-layout-two">
			<div class="landing-container">
				<div class="landing-top_row heading-flex">
					<div class="landing-flex-head">
						<div class="landing-bar-img">
							<img
								src="./assets/headline_bar.png"
								alt="A bar before all the headings"
                                class="landing-bar-image"
							/>
						</div>
						<div class="landing-bar-heading">
							<h1 class="landing-bar-head">Fintech</h1>
						</div>
					</div>
					<div class="landing-flex-right">
						<div>
							<p class="landing-link_text">All Fintech articles</p>
						</div>
						<div class="landing-right-arrow">
							<img
								src="./assets/arrow_right.png"
								alt="Pointing of right arrow"
							/>
						</div>
					</div>
				</div>
				<div class="landing-bottom_row">
                    <div class="landing-section-content">
                        <div class="landing-left_column landing-each_column">
                            <div class="landing-page-img">
                                <img
                                    src="./assets/fintech_img.png"
                                    alt="An image in section two of the page" class="landing-page-image"
                                />
                            </div>
                            <div>
                                <h2 class="landing-column-title">Nigerians react to 6Billion loss incurred by Kuda</h2>
                            </div>
                            <div class="landing-profile-flex">
                                <div class="landing-profile-pic">
                                    <img
                                        src="./assets/fintech_profile.png"
                                        alt="A profile image of the Fintech section"
                                    />
                                </div>
                                <div>
                                    <p>Oloje Oluwatosin</p>
                                </div>
                            </div>
                            <div class="landing-timeline-content">
                                <div class="landing-timeline-flex">
                                    <div class="landing-each_timeline">
                                        <img src="./assets/time_icon.png" alt="time icon" />
                                        <span class="landing-each_time">4 min</span>
                                    </div>
                                    <div class="landing-each_timeline">
                                        <img src="./assets/calendar_icon.png" alt="calendar icon" />
                                        <span class="landing-each_time">Sep 20, 2022</span>
                                    </div>
                                    <div class="landing-each_timeline">
                                        <img src="./assets/eye_icon.png" alt="eye icon" />
                                        <span class="landing-each_time">2983</span>
                                    </div>
                                </div>
                                <div>
                                    <button class="landing-readmore-btn">Read more</button>
                                    <span
                                        ><img src="./assets/readmore_arrow.png" alt="arrow down"
                                    /></span>
                                </div>
                            </div>
                        </div>
                        <div class="landing-right_column landing-each_column">
                            <div class="landing-article-layout">
                                <div class="landing-hero-img">
                                    <img src="./assets/JP_logo.png" alt="Just project" class="landing-just-image" />
                                </div>
                                <div class="landing-article-content">
                                    <h3 class="landing-article-head">Just Project Launches</h3>
                                    <p class="landing-article-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Laoreet massa amet malesuada montes,
                                    </p>
                                    <div class="landing-article-action">
                                        <button class="landing-readmore-btn">Read more</button>
                                    </div>
                                </div>
                            </div>
                            <div class="landing-article-layout">
                                <div class="landing-hero-img">
                                    <img src="./assets/JP_logo.png" alt="Just project" class="landing-just-image"/>
                                </div>
                                <div class="landing-article-content">
                                    <h3 class="landing-article-head">Just Project Launches</h3>
                                    <p class="landing-article-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Laoreet massa amet malesuada montes,
                                    </p>
                                    <div class="landing-article-action">
                                        <button class="landing-readmore-btn">Read more</button>
                                    </div>
                                </div>
                            </div>
                            <div class="landing-article-layout">
                                <div class="landing-hero-img">
                                    <img src="./assets/JP_logo.png" alt="Just project" class="landing-just-image"/>
                                </div>
                                <div class="landing-article-content">
                                    <h3 class="landing-article-head">Just Project Launches</h3>
                                    <p class="landing-article-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Laoreet massa amet malesuada montes,
                                    </p>
                                    <div class="landing-article-action">
                                        <button class="landing-readmore-btn">Read more</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</section>

		<section class="landing-section-container landing-layout-three">
			<div class="landing-container">
				<div class="landing-top_row">
                    <div class="landing-flex-head">
                        <div class="landing-img-bar">
                            <img
                                src="./assets/headline_bar.png"
                                alt="A bar before all the headings"
                                class="landing-image-bar"
                            />
                        </div>
                        <div class="landing-bar-heading">
                            <h1 class="landing-bar-head">Most Read</h1>
                        </div>
                    </div>
				</div>
				<div class="landing-third-row">
					<div class="landing-section-three-column landing-article-layout">
                        <div>
                            <img src="./assets/JP2_logo.png" alt="Just Project logo">
                        </div>
                        <h3 class="landing-article-head">Just Project Launches</h3>
                        <p class="landing-article-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet massa amet malesuada montes,
                        </p>
                        <div>
                            <button class="landing-readmore-btn">Read more</button>
                        </div>
                    </div>
					<div class="landing-section-three-column landing-article-layout">
                        <div>
                            <img src="./assets/JP2_logo.png" alt="Just Project logo">
                        </div>
                        <h3 class="landing-article-head">Just Project Launches</h3>
                        <p class="landing-article-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet massa amet malesuada montes,
                        </p>
                        <div>
                            <button class="landing-readmore-btn">Read more</button>
                        </div>
                    </div>
					<div class="landing-section-three-column landing-article-layout">
                        <div>
                            <img src="./assets/JP2_logo.png" alt="Just Project logo">
                        </div>
                        <h3 class="landing-article-head">Just Project Launches</h3>
                        <p class="landing-article-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet massa amet malesuada montes,
                        </p>
                        <div>
                            <button class="landing-readmore-btn">Read more</button>
                        </div>
                    </div>
				</div>
			</div>
		</section>

		<section class="landing-section-container landing-layout-four">
			<div class="landing-container">
				<div class="landing-top_row landing-heading-flex">
                    <div class="landing-flex-head">
                        <div class="landing-bar-img">
                            <img
                                src="./assets/headline_bar.png"
                                alt="A bar before all the headings"
                                class="landing-bar-image"
                            />
					    </div>
					    <div class="landing-bar-heading">
						    <h1 class="landing-bar-head">Categories</h1>
					    </div>
                    </div>
                    <div class="landing-flex-right">
                        <p class="landing-link_text">View categories</p>
                        <img src="./assets/arrow_right.png" alt="Pointing arrow" class="landing-right-arrow">
                    </div>
                </div>
				<div class="landing-fourth-row">
                    <div class="landing-layout-cat">
                        <button class="landing-each-cat">Fintech</button>
                        <button class="landing-each-cat">Startups</button>
                        <button class="landing-each-cat">Founders</button>
                        <button class="landing-each-cat">Ux Design</button>
                        <button class="landing-each-cat">Web Development</button>
                        <button class="landing-each-cat">Technology</button>
                        <button class="landing-each-cat">Agritech</button>
                        <button class="landing-each-cat">Edutech</button>
                    </div>
                    <div class="landing-layout-cat">
                        <button class="landing-each-cat">Commerce</button>
                        <button class="landing-each-cat">Gadgets</button>
                        <button class="landing-each-cat">Telecommunication</button>
                        <button class="landing-each-cat">Unicorn</button>
                        <button class="landing-each-cat">Cloud computing</button>
                        <button class="landing-each-cat">Technology</button>
                        <button class="landing-each-cat">Agritech</button>
                    </div>
                </div>
			</div>
		</section>
	</body>
</html>
